<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOJsgvcymsF139NZHZUQM_wRZXZpH6x-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>953777419138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.interiaerp.app</string>
	<key>PROJECT_ID</key>
	<string>digitalerp-interia</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalerp-interia.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953777419138:ios:de2e08aa8fd8f0cf71559b</string>
</dict>
</plist>